* {box-sizing:border-box}

.App {
  background-color: #f3f2f1;
}
h1 {
  color: #464775;
}
h2 {
  font-size: .8em;
}
.PropName {
  font-weight: bold;
  color: #6264A7;
}
.Logo {
  font-size: 45pt;
  color: #6264A7;
}
.Error {
  color: red;
}
header{
  text-align: center;
}
.clock{
  text-align: center;
  .nextDay{
    color: red;
    display: block;
  }
}

.green{
  background-color: #279F00 !important;
  color: white;
  font-weight: bold;
}
.yellow{
  background-color: yellow !important;
  font-weight: bold;
}
.red{
  background-color: #DA291C !important;
  color: white;
  font-weight: bold;
}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;

  &:hover{
    background-color: #f1f1f1;
  }

}
.left{
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-right: 1px solid#E8E8E8;
  margin-right: 0;
}
.right{
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-left: 1px solid#E8E8E8;
  margin-left: 0;
}
.count{
  display:inline-block;
  background-color: #ddd;
  padding: 5px 10px;
  
}
.disabled{
  cursor: default;
  background-color: #C0C0C0;

  &:hover{
    background-color: #C0C0C0;
  }
}
.navControls{
  text-align: center;
}
img.addButton{
  max-width: .9em;
  vertical-align: middle;
  margin-left: .25em;
  cursor: pointer;
}

.currentTimeContainer{
  display: flex;

  .photo{
    &.multi{
      display: inline-block;
      position: relative;
      width: 96px;
      height: 96px;
      overflow: hidden;
      border-radius: 50%;
      img{
        margin-top:12px;
        border-radius: initial;
      }
    }
    img{
      border-radius: 50%;
      width:96px;
      height: 96px;
    }
  }

  .personName{
    span{
      display: block;
      cursor: pointer;
    }
  }

  .currentUser{
    padding: 0 3em 0 1em;
  }
  .otherTeamMembers{
      width:100%;
    .clock{
      padding: 0 1em;
    }

    /* Slideshow container */
    .slideshow-container {
      /*max-width: 1000px;*/
      position: relative;
      margin: auto;

      /* Hide the images by default */
      .mySlides {
        display: none;
      }

      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

    }

    
  }
}

.scheduleComponent{

  .schedules{
    display: flex;
    padding: 0 1em;

    .header{
      font-weight: bold;
    }
    aside{
      min-width: 152px;
    }
    .peopleList{
      display: flex;
    border-top: 3px solid #f3f2f1;
    border-bottom: 3px solid #f3f2f1;
      padding-left: .5em;
      /*border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;*/
      span{
        width: 100%;
        display: flex;
        padding-right: .5em;
        justify-content: space-between;
      }
      &::after{
        content:"";
        background-color: #f3f2f1;
        bottom: 0px;  
        width: 8px;
        height: 20px;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
      }
    }
    img.addButton{
        margin-right:.5em;
      }
    

    ul{
      list-style: none;
      padding-left:0;
      width: 100%;
      li{
        display:grid;
        grid-template-columns: repeat(auto-fill, minmax(8em, .5fr));
        text-align: left;
        &:nth-child(even) {background-color: #CCC}
        div{
          padding-right: .5em;

        }
        div:last-child{
          padding-right: 0;
        }
        
      }
      

    }
    .rowHighlight{
        &:hover{
          li{
            background-color:inherit;
          }
          background-color: rgba(255, 0, 0, 0.4) !important;
          /*.green{
            background-color: #279F00 !important;
          }
          .yellow{
            background-color: yellow !important;
          }
          .red{
            background-color: #DA291C !important;
          }*/
          
        }
      }

      /* Slideshow container */
    .timeSlotsContainer {
      /*max-width: 1000px;*/
      position: relative;
      /*margin: auto;*/
      text-align: left;
      width:100%;

      

      /* Hide the images by default */
      .timeSlides {
        display: none;

      }

      .timeSlide{
        li{
          border-radius: 16px;
          text-align: center;
          /*border-left: 1px solid #f3f2f1;
          border-right: 1px solid #f3f2f1;*/
          border-left: 3px solid #f3f2f1;
          border-right: 3px solid #f3f2f1;
          border-top: 3px solid #f3f2f1;
          border-bottom: 3px solid #f3f2f1;
        }
      }
      
      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

    }
    
  }
}
.border{
  text-align: left;
  border: 1px solid black;
}

@media screen and (min-width : 800px){
  .currentTimeContainer {
    .currentUser{
      /*flex-basis: 20%;*/
    }
    .otherTeamMembers{
      /*flex-basis: 80%;*/
    }
  }        
}

@media screen and (min-width : 900px){
  .currentTimeContainer {
    .currentUser{
      /*flex-basis: 10%;*/
    }
    .otherTeamMembers{
      /*flex-basis: 90%;*/
    }
  }        
}


















