.teamClock {
  background-color: lightgray;
}

.personList {
  float:left;
}

.person {
  font-weight: bold;
  font-size: medium;
  padding: 3px;
  line-height: 47pt;
  height: 51pt;
  vertical-align: middle;
  margin: 5pt 10pt 5pt 10pt;
}

.scrollingWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.timeStrip {
  margin: 5pt 0 5pt 0;
}

.timeCell {
  background-color: white;
  width: 5em;
  text-align: center;
  padding: 0;
  border: 0.5pt solid black;
}
.scrollingWrapper .timeCell {
  display: inline-block;
}

.timeHeader {
  border-bottom: 0.5pt solid black;
  padding: 3pt;
  font-size: 10pt;
  line-height: 17pt;
  height: 20pt;
}

.timeBody {
  font-weight: bold;
  font-size: medium;
  padding: 1pt;
  line-height: 27pt;
  height: 30pt;
  vertical-align: middle;
}

.day {
  background-color: white;
}

.extended {
  background-color: lightblue;
}

.night {
  background-color: steelblue;
  color: white;
}

.startOfDay {
  border-left: 2pt solid red;
}

.endOfDay {
  border-bottom: 2pt solid green;
}

.timeBody.startOfDay {
  background-color: midnightblue;
  color: white;
}

