.teamClock {
  background-color: lightgray;
}

.personList {
  float:left;
}

.person {
  padding: 3px;
  height: 55pt;
  vertical-align: middle;
  margin: 5pt 10pt 5pt 10pt;
}

.person .personName {
  font-weight: bold;
  font-size: 14pt;
  padding-top: 6pt;
  margin: 0;
}

.person .personCity {
  font-size: 10pt;
  padding: 0;
  margin: 0;
}

.scrollingWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.timeStrip {
}

.timeCell {
  width: 5em;
  text-align: center;
  padding: 5pt 0 5pt 0;
}
.scrollingWrapper .timeCell {
  display: inline-block;
}

.timeHeader {
  background-color: white;
  padding: 3pt;
  font-size: 10pt;
  line-height: 17pt;
  height: 20pt;
  border-left: 0.5pt solid black;
  border-top: 0.5pt solid black;
  border-bottom: 0.5pt solid black;
}

.timeBody {
  font-weight: bold;
  font-size: 14pt;
  padding: 1pt;
  line-height: 27pt;
  height: 30pt;
  vertical-align: middle;
  border-left: 0.5pt solid black;
  border-top: 0.5pt solid black;
  border-bottom: 0.5pt solid black;
}

.day {
  background-color: white;
}

.extended {
  background-color: lightblue;
}

.night {
  background-color: steelblue;
  color: white;
}

.startOfDay {
  border-left: 2pt solid lightGray;
}
.timeHeader.startOfDay {
  background-color: midnightblue;
  color: white;
  border-top-left-radius: 20%;
  border: 0.5pt solid midnightblue;
}
.timeBody.startOfDay {
  background-color: midnightblue;
  color: white;
  border-bottom-left-radius: 20%;
  border: 0.5pt solid midnightblue;
}

.endOfDay {
  border-right: 2pt solid lightGray;
}
.timeHeader.endOfDay {
  border-top-right-radius: 20%;
}
.timeBody.endOfDay {
  border-bottom-right-radius: 20%;
}

.mouseOver {
  border-left: 2pt solid gray;
  border-right: 2pt solid gray;
}
.mouseOver.first {
  border-top: 2pt solid gray;
}
.mouseOver.last {
  border-bottom: 2pt solid gray;
}

.selected {
  border-left: 2pt solid black;
  border-right: 2pt solid black;
}
.selected.first {
  border-top: 2pt solid black;
}
.selected.last {
  border-bottom: 2pt solid black;
}

.timeSelected {
  background-color: white;
  padding: 20pt;
  font-size: 14pt;
  font-weight: bold;
}