.teamClock {
  background-color: lightgray;
}

.personList {
  float:left;
  padding-top: 30pt;
}

.person {
  padding: 3px;
  height: 55pt;
  vertical-align: middle;
  margin: 5pt 10pt 5pt 10pt;
}

.person .personName {
  font-weight: bold;
  font-size: 14pt;
  padding-top: 6pt;
  margin: 0;
}

.person .personCity {
  font-size: 10pt;
  padding: 0;
  margin: 0;
}

.scrollingWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.timeStrip {
}

.timeCell {
  width: 50pt;
  text-align: center;
  padding: 5pt 0 5pt 0;
}
.scrollingWrapper .timeCell {
  display: inline-block;
}

.timeHeader {
  background-color: white;
  padding: 3pt;
  font-size: 9pt;
  line-height: 17pt;
  height: 20pt;
  border-left: 0.5pt solid black;
  border-top: 0.5pt solid black;
  border-bottom: 0.5pt solid black;
}

.timeBody {
  font-weight: bold;
  font-size: 14pt;
  padding: 1pt;
  line-height: 27pt;
  height: 30pt;
  vertical-align: middle;
  border-left: 0.5pt solid black;
  border-top: 0.5pt solid black;
  border-bottom: 0.5pt solid black;
}

.day {
  background-color: white;
}

.extended {
  background-color: lightblue;
}

.night {
  background-color: steelblue;
  color: white;
}

.startOfDay {
  border-left: 2pt solid lightGray;
}
.timeHeader.startOfDay {
  background-color: midnightblue;
  color: white;
  border-top-left-radius: 20%;
  border: 0.5pt solid midnightblue;
}
.timeBody.startOfDay {
  background-color: midnightblue;
  color: white;
  border-bottom-left-radius: 20%;
  border: 0.5pt solid midnightblue;
}

.endOfDay {
  border-right: 2pt solid lightGray;
}
.timeHeader.endOfDay {
  border-top-right-radius: 20%;
}
.timeBody.endOfDay {
  border-bottom-right-radius: 20%;
}

.mouseOver {
  border-left: 2pt solid gray;
  border-right: 2pt solid gray;
}
.mouseOver.first {
  border-top: 2pt solid gray;
}
.mouseOver.last {
  border-bottom: 2pt solid gray;
}

.selected {
  border-left: 2pt solid black;
  border-right: 2pt solid black;
}
.selected.first {
  border-top: 2pt solid black;
}
.selected.last {
  border-bottom: 2pt solid black;
}

.timeSelected {
  background-color: white;
  padding: 20pt;
  font-size: 14pt;
  font-weight: bold;
}

.timeStripHeader {
  height: 33pt;
}

.timeStripHeaderCell {
  width: 50pt;
  height: 20pt;
  font-size: 12pt;
  text-align: center;
}
.scrollingWrapper .timeStripHeaderCell {
  display: inline-block;
}

/* With thanks to http://www.cssarrowplease.com/ */
.timeStripHeaderCell.now {
	position: relative;
	background: white;
	border: 4px solid red;
}
.timeStripHeaderCell.now:after, .timeStripHeaderCell.now:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.timeStripHeaderCell.now:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: white;
	border-width: 30px;
	margin-left: -30px;
}
.timeStripHeaderCell.now:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: red;
	border-width: 35px;
	margin-left: -35px;
}